<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" class="header">
    <div class="left-side">
        <div class="logo">
<!--            <img src="logo.png" alt="logo"/>-->
            <i class="fas fa-calendar-alt"></i>
            <span>Jumbare </span>
        </div>
    </div>
    <div class="right-side">
        <a class="nav-link" href="#">My Account</a>
        <a class="nav-link" th:href="@{/reservation/my-reservations}">My Reservations</a>
        <a class="nav-link" href="#">Add Place</a>
        <button class="logout">Logout</button>
    </div>
</header>

</html>

