html, body {
    margin: 0;
    height: 100%;
}

body > .header {
    position: sticky;
    bottom: 100vh;
}

.header {
    width: 100%;
    background: black;
    display: flex;
    color: white;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.right-side {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 10px;
    list-style-type: none;
}

.left-side {
    margin-left: 10px;
}

.index-button {
    border: none;
    height: 37px;
    padding-left: 39px;
    padding-right: 48px;
    background: #FFD600;
    border-radius: 28px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFD600;
    color: white;
}

.nav-link:visited {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFD600;
    color: white;
}

.nav-link:active {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFD600;
    color: white;
}


.nav-link-login-user{
    color: black;
    text-decoration: none;
    font-family: monospace !IMPORTANT;
}
.blur{
    border: 1px solid blue;
    filter: blur(23px);
    background: #000000;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 5; */
    width: 45%;
    height: 254px;
    z-index: 4;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.blur-register{
    border: 1px solid blue;
    filter: blur(23px);
    background: #f3f3f3;
    opacity: 0.4;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 105%;
    height: 960px;
    z-index: 5;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}

.banner-text p{
    padding: 0 1%;
    font-family: sans-serif;
}
/* ________________________________________________ register*/
ul{
    list-style-type: none;
}
.container{
    width:80% !important;
    height:100%;
    margin:0 auto;
    padding:0 !important;
    z-index: 5;
}
.row{
    width:100% !important;
    height: 80px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 5%;
}
.section{
    width:33.3%;
    height:100%;
    display:inline-block;
}
.titleForm{
    color: white;
    background-color: black;
    border-radius: 8px;
    width: 234px;
    height: 37px;
    padding: 0 20px;
    font-size: 1.5rem;
    margin-top: 2%;
    z-index: 5;
}

input.field{
    border:0px;
    border-radius: 8px;
    background-color:#fff;
}
select{
    border:0px;
    border-radius: 8px;
    background-color:#fff;
    width: 500px;
    height: 30px;
}
.register-font{
    z-index: 5;
    color: white;
    font: icon;
    font-weight: 600;

}
.center-down-register{
    margin-left: 38%;
    margin-top: 10%;
}
.index-button-register{
    border: none;
    height: 37px;
    padding-left: 109px;
    padding-right: 131px;
    background: #FFD600;
    border-radius: 28px;

}
.register-submit-button{
    border: none;
    background-color: #ffd600;
}
.mandatory-field{
    margin-left: 30%;
    margin-top: auto;
    margin-bottom: 3%;
    font-family: fantasy;
    color: brown;
    z-index: 5;

}
.mandatory-field-role{
    margin-left: 8%;
    margin-top: auto;
    margin-bottom: 3%;
    font-family: fantasy;
    color: #b75a5a;
}
/* ________________________________________________ login*/
.login-container-right{
    margin-left: 258px;
}






