@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
    margin: 0;
    height: 100%;
}

body > .header {
    position: sticky;
    bottom: 100vh;
}

.header {
    width: 100%;
    background: black;
    display: flex;
    color: white;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.right-side {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 10px;
    list-style-type: none;
}

.left-side {
    margin-left: 10px;
}

.index-button {
    border: none;
    height: 37px;
    padding-left: 39px;
    padding-right: 48px;
    background: #FFD600;
    border-radius: 28px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFD600;
    color: white;
}

.nav-link:visited {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFD600;
    color: white;
}

.nav-link:active {
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #FFD600;
    color: white;
}


.nav-link-login-user {
    color: black;
    text-decoration: none;
    font-family: monospace !IMPORTANT;
}

.login-button {
    background-color: bisque;

}

.blur {
    border: 1px solid blue;
    filter: blur(23px);
    background: #000000;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 5; */
    width: 45%;
    height: 254px;
    z-index: 4;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.blur-register {
    border: 1px solid blue;
    filter: blur(23px);
    background: #f3f3f3;
    opacity: 0.4;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 960px;
    z-index: 5;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}

.banner-text p {
    padding: 0 1%;
    font-family: sans-serif;
}

/* ________________________________________________ register*/
ul {
    list-style-type: none;
}

.container {
    width: 80% !important;
    height: 100%;
    margin: 0 auto;
    padding: 0 !important;
    z-index: 5;
}

.row {
    width: 100% !important;
    height: 80px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 5%;
    border: white 1px;
}

.section {
    width: 33.3%;
    height: 100%;
    display: inline-block;
}

.section-home {
    height: 100%;
    padding-left: 35%;
    padding-top: 15%;
}

.titleForm {
    color: white;
    background-color: black;
    border-radius: 8px;
    width: 234px;
    height: 37px;
    padding: 0 20px;
    font-size: 1.5rem;
    margin-top: 2%;
    z-index: 5;
}

input.field {
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
}

select {
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
    width: 500px;
    height: 30px;
}

.register-font {
    z-index: 5;
    color: white;
    font: icon;
    font-weight: 600;
    background-color: black;
    border-radius: 5px;

}

.center-down-register {
    margin-left: 38%;
    margin-top: 10%;
}

.index-button-register {
    border: none;
    height: 37px;
    padding-left: 109px;
    padding-right: 131px;
    background: #FFD600;
    border-radius: 28px;

}

.register-submit-button {
    border: none;
    background-color: #ffd600;
}

.center-down-search {
    margin-left: 7%;
    margin-top: 10%;
}

.index-button-search {
    border: none;
    height: 37px;
    padding-left: 70px;
    padding-right: 74px;
    background: #FFD600;
    border-radius: 28px;
}


.mandatory-field {
    margin-left: 30%;
    margin-top: auto;
    margin-bottom: 3%;
    font-family: fantasy;
    color: brown;
    z-index: 5;

}

.mandatory-field-role {
    margin: auto 54% 1% auto;
    font-family: fantasy;
    color: #b75a5a;
    background-color: lavenderblush;
    border-radius: 8px;
}

/* ________________________________________________ login*/
.login-container-right {
    margin-left: 258px;
}

/* ________________________________________________ Add Restaurant*/
.field-description {
    height: 124px;
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
    width: 504px;
}

.field-seats {
    height: 34px;
}

.field-address {
    width: 340px;
    height: 32px;
    border: 0px;
    border-radius: 8px;
    background-color: #fff;
}

.field-capacity {
    height: 28px;
}

.photoView {
    width: 214px;
    padding: -3px;
    margin: 0;
}

/*------------------------------- Details*/
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-text {
    margin-bottom: 0;
    color: black;
    height: auto;
    font-size: 20px;

}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

.text-center {
    text-align: center !important
}

.card {
    margin: 0.25rem !important;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #b2bb48;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.group-background {
    position: relative;
    display: block;
    padding: 1.75rem 6.25rem;
    background-color: rgba(15, 71, 22, 0.43);
    border: 1px solid rgba(0, 0, 0, .125);
}

/*------------------------------------------*/
.reservations-caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #ffffff;
    caption-side: top;
    text-align: center;
}

.b1 {
    color: white;
    text-align: center;
    text-decoration-width: auto;
}

/*-------------------------------- card css */

.snip1574 {
    float: left;
    padding: 2px 0px;
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1574 * {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box;
}

.snip1574 img {
    max-width: 100%;
    vertical-align: top;
}

.snip1574 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 170px;
    opacity: 0.35;
    font-style: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    left: 50%;
}

.snip1574 blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1.2em;
}

.snip1574 a {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
    color: white;

}

/*--------------------------------------- check-by-dates page*/

.check-by-dates {
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 15px;
    background-color: #fedf045e;
}

.update-button {
    color: white;
    padding: 85px;
    -webkit-text-decorations-in-effect: blink;
}


/* CSS */
.button-3 {
    appearance: none;
    background-color: #6c757d;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 4px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    height: 33px;
    top: 80px;
    left: 97px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: rgba(123, 95, 42, 0.68);
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: rgba(142, 97, 41, 0.82);
    box-shadow: rgba(70, 46, 20, 0.2) 0 1px 0 inset;
}






