<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head"></head>
<header th:replace="/fragments/navbar::header"></header>
<body>
<div th:each="all : ${allCurrentUserReservations}" th:object="${all}" class="all-classes-container style-photo">
    <article >
        <img  class="photoView" th:src="*{imgUrl}" >
        <p th:text="*{getNameRestaurant()}"></p>
        <a class="nav-link" th:href="@{/reservation/my-reservations-details/{reservationId}(reservationId=*{id})}">Details</a>
    </article>

</div>

</body>
</html>

