<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head"></head>
<header th:replace="/fragments/navbar::header"></header>
<body>
<div th:each="all : ${allCurrentUserReservations}" th:object="${all}" class="all-classes-container style-photo">
    <article>
        <figure class="snip1574">
            <img th:src="*{imgUrl}" alt="profile-sample2"/>
            <blockquote>
                <p th:text="*{name}"></p>
            </blockquote>
            <a th:href="@{/reservation/my-reservations-details/{reservationId}(reservationId=*{id})}">Details</a>
        </figure>
    </article>

</div>

</body>
</html>

