<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head::head"></head>
<header th:replace="/fragments/navbar::header"></header>
<body>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div th:object="${restaurantViewDetailsModel}"
             class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card">
                <img class="card-img-top" th:src="*{getImgUrl()}" alt="Image">
            </div>

            <ul class="offer-details list-group list-group-flush">
                <li class="group-background">
                    <div class="card-text"><span th:text="|Name / Име: *{name}|">• Name</span></div>

                    <div class="card-text"><span th:text="|Description / Описание: *{description}|"> Description</span></div>
                    <div class="card-text"><span th:text="|Capacity / Капацитет: *{capacity} |">• Capacity</span></div>
                    <div class="card-text"><span th:text="|Town / Град: *{city}|">• City</span></div>
                    <div class="card-text"><span th:text="|Address / Адрес: *{address}|">• Address</span></div>

                    <div class="form-group row" th:object="${reserveBidingModel}" }>
                            <form th:action="@{/reservation/booked/{reserveId}(reserveId=*{restaurantId})}"
                                  th:method="post"
                                  th:object="${reserveBidingModel}">
                                <label for="dateTime" class="card-text">Select a reservation date</label>
                                <div>
                                    <input th:field="*{dateTime}" th:erorrclass="is-invalid" type="date"
                                           id="dateTime"
                                           name="dateTime"
                                           aria-describedby="createdHelpInline">
                                    <small id="createdTimeHelpInline"
                                           class="invalid-feedback bg-danger text-light rounded">
                                        Created date cannot be in the past.
                                    </small><br>

                                    <label for="peopleCount" class="card-text">People</label>
                                    <input
                                            th:field="*{peopleCount}"
                                            class="field-capacity"
                                            id="peopleCount"
                                            name="peopleCount"
                                            type="number"
                                            placeholder="Capacity">
                                    <input type="submit" class="btn btn-link" value="Reserve"/>


                                </div>

                            </form>

                        </div>
                        <th:block th:if="${isOwner}">
                            <div class="card-text" th:object="${detailsEntries}"><span th:text="|Entries for today: *{entries}|">• Entries per page</span></div>
                            <div class="row">
                                <a class="nav-link"
                                   th:href="@{/restaurant/update/{updateId}(updateId=*{id})}" th:method="patch">Update</a>
                            </div>
                            <form th:action="@{/restaurant/delete/{id}(id=*{id})}" th:method="delete">
                                <input type="submit" class="btn btn-link" value="Delete"/>
                            </form>
                        </th:block>

            </ul>

        </div>

    </div>
</div>

</body>
</html>